In [17]:
## Importing V-Dem Dataset 
import pandas as pd 

df = pd.read_csv("/Users/matthewrisley/Desktop/Senior Thesis /V-Dem-CY-FullOthers-v14_csv_YyKfizl/V-Dem-CY-Full+Others-v14.csv")

/var/folders/h1/4jp4f8ws0fs6b8cs88b3nrhh0000gn/T/ipykernel_31912/2229541668.py:4: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/matthewrisley/Desktop/Senior Thesis /V-Dem-CY-FullOthers-v14_csv_YyKfizl/V-Dem-CY-Full+Others-v14.csv")

In [18]:
df.head()

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN

In [19]:
#Keeping only relevant columns
columns_to_keep = ['country_name', 'country_text_id', 'COWcode', 'year', 'e_area',
                    'e_gdppc', 'e_wb_pop']
elec_data = df[columns_to_keep]

In [20]:
#Dropping years before 1980
elec_data = elec_data[(elec_data.year >= 1980)& (elec_data.year <=2020)]
elec_data.tail(50)

,country_name,country_text_id,COWcode,year,e_area,e_gdppc,e_wb_pop
26155,Hungary,HUN,310.0,2012,92949.133,20.169,9920362.0
26156,Hungary,HUN,310.0,2013,92949.133,20.744,9893082.0
26157,Hungary,HUN,310.0,2014,92949.133,21.432,9866468.0
26158,Hungary,HUN,310.0,2015,92949.133,22.275,9843028.0
26159,Hungary,HUN,310.0,2016,92949.133,23.006,9814023.0
26160,Hungary,HUN,310.0,2017,92949.133,24.072,9787966.0
26161,Hungary,HUN,310.0,2018,92949.133,25.211,9775564.0
26162,Hungary,HUN,310.0,2019,92949.133,25.834,9771141.0
26163,Hungary,HUN,310.0,2020,92949.133,NaN,9750149.0
26291,Zanzibar,ZZB,NaN,1980,NaN,NaN,NaN
26292,Zanzibar,ZZB,NaN,1981,NaN,NaN,NaN
26293,Zanzibar,ZZB,NaN,1982,NaN,NaN,NaN
26294,Zanzibar,ZZB,NaN,1983,NaN,NaN,NaN
26295,Zanzibar,ZZB,NaN,1984,NaN,NaN,NaN
26296,Zanzibar,ZZB,NaN,1985,NaN,NaN,NaN
26297,Zanzibar,ZZB,NaN,1986,NaN,NaN,NaN
26298,Zanzibar,ZZB,NaN,1987,NaN,NaN,NaN
26299,Zanzibar,ZZB,NaN,1988,NaN,NaN,NaN
26300,Zanzibar,ZZB,NaN,1989,NaN,NaN,NaN
26301,Zanzibar,ZZB,NaN,1990,NaN,NaN,NaN
26302,Zanzibar,ZZB,NaN,1991,NaN,NaN,NaN
26303,Zanzibar,ZZB,NaN,1992,NaN,NaN,NaN
26304,Zanzibar,ZZB,NaN,1993,NaN,NaN,NaN
26305,Zanzibar,ZZB,NaN,1994,NaN,NaN,NaN
26306,Zanzibar,ZZB,NaN,1995,NaN,NaN,NaN
26307,Zanzibar,ZZB,NaN,1996,NaN,NaN,NaN
26308,Zanzibar,ZZB,NaN,1997,NaN,NaN,NaN
26309,Zanzibar,ZZB,NaN,1998,NaN,NaN,NaN
26310,Zanzibar,ZZB,NaN,1999,NaN,NaN,NaN
26311,Zanzibar,ZZB,NaN,2000,NaN,NaN,NaN
26312,Zanzibar,ZZB,NaN,2001,NaN,NaN,NaN
26313,Zanzibar,ZZB,NaN,2002,NaN,NaN,NaN
26314,Zanzibar,ZZB,NaN,2003,NaN,NaN,NaN
26315,Zanzibar,ZZB,NaN,2004,NaN,NaN,NaN
26316,Zanzibar,ZZB,NaN,2005,NaN,NaN,NaN
26317,Zanzibar,ZZB,NaN,2006,NaN,NaN,NaN
26318,Zanzibar,ZZB,NaN,2007,NaN,NaN,NaN
26319,Zanzibar,ZZB,NaN,2008,NaN,NaN,NaN
26320,Zanzibar,ZZB,NaN,2009,NaN,NaN,NaN
26321,Zanzibar,ZZB,NaN,2010,NaN,NaN,NaN
26322,Zanzibar,ZZB,NaN,2011,NaN,NaN,NaN
26323,Zanzibar,ZZB,NaN,2012,NaN,NaN,NaN
26324,Zanzibar,ZZB,NaN,2013,NaN,NaN,NaN
26325,Zanzibar,ZZB,NaN,2014,NaN,NaN,NaN
26326,Zanzibar,ZZB,NaN,2015,NaN,NaN,NaN
26327,Zanzibar,ZZB,NaN,2016,NaN,NaN,NaN
26328,Zanzibar,ZZB,NaN,2017,NaN,NaN,NaN
26329,Zanzibar,ZZB,NaN,2018,NaN,NaN,NaN
26330,Zanzibar,ZZB,NaN,2019,NaN,NaN,NaN
26331,Zanzibar,ZZB,NaN,2020,NaN,NaN,NaN

In [21]:
elec_data.to_csv('/Users/matthewrisley/Desktop/Senior Thesis /Cleaning Dataframes/testingVdemControls.csv', index=False)