In [11]:
## Importing V-Dem Dataset 
import pandas as pd 

df = pd.read_csv("/Users/matthewrisley/Desktop/Senior Thesis /V-Dem-CY-FullOthers-v14_csv_YyKfizl/V-Dem-CY-Full+Others-v14.csv")

/var/folders/h1/4jp4f8ws0fs6b8cs88b3nrhh0000gn/T/ipykernel_18557/2229541668.py:4: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/matthewrisley/Desktop/Senior Thesis /V-Dem-CY-FullOthers-v14_csv_YyKfizl/V-Dem-CY-Full+Others-v14.csv")

In [12]:
df.head()

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
0,Mexico,MEX,3,1789,1789-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
1,Mexico,MEX,3,1790,1790-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
2,Mexico,MEX,3,1791,1791-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
3,Mexico,MEX,3,1792,1792-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
4,Mexico,MEX,3,1793,1793-12-31,1,1,Viceroyalty of New Spain,1789,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN

In [13]:
#Keeping only relevant columns
columns_to_keep = [ 'COWcode', 'year', 'e_area','e_gdppc', 'e_wb_pop']
elec_data = df[columns_to_keep]
elec_data.rename(columns={'COWcode': 'ccode'}, inplace=True)

/var/folders/h1/4jp4f8ws0fs6b8cs88b3nrhh0000gn/T/ipykernel_18557/1737811286.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elec_data.rename(columns={'COWcode': 'ccode'}, inplace=True)

In [14]:
#Dropping years before 1980
elec_data = elec_data[(elec_data.year >= 1980)& (elec_data.year <=2020)]
elec_data.tail(50)

       ccode  year     e_area  e_gdppc   e_wb_pop
26155  310.0  2012  92949.133   20.169  9920362.0
26156  310.0  2013  92949.133   20.744  9893082.0
26157  310.0  2014  92949.133   21.432  9866468.0
26158  310.0  2015  92949.133   22.275  9843028.0
26159  310.0  2016  92949.133   23.006  9814023.0
26160  310.0  2017  92949.133   24.072  9787966.0
26161  310.0  2018  92949.133   25.211  9775564.0
26162  310.0  2019  92949.133   25.834  9771141.0
26163  310.0  2020  92949.133      NaN  9750149.0
26291    NaN  1980        NaN      NaN        NaN
26292    NaN  1981        NaN      NaN        NaN
26293    NaN  1982        NaN      NaN        NaN
26294    NaN  1983        NaN      NaN        NaN
26295    NaN  1984        NaN      NaN        NaN
26296    NaN  1985        NaN      NaN        NaN
26297    NaN  1986        NaN      NaN        NaN
26298    NaN  1987        NaN      NaN        NaN
26299    NaN  1988        NaN      NaN        NaN
26300    NaN  1989        NaN      NaN        NaN
26301    NaN  1990        NaN      NaN        NaN
26302    NaN  1991        NaN      NaN        NaN
26303    NaN  1992        NaN      NaN        NaN
26304    NaN  1993        NaN      NaN        NaN
26305    NaN  1994        NaN      NaN        NaN
26306    NaN  1995        NaN      NaN        NaN
26307    NaN  1996        NaN      NaN        NaN
26308    NaN  1997        NaN      NaN        NaN
26309    NaN  1998        NaN      NaN        NaN
26310    NaN  1999        NaN      NaN        NaN
26311    NaN  2000        NaN      NaN        NaN
26312    NaN  2001        NaN      NaN        NaN
26313    NaN  2002        NaN      NaN        NaN
26314    NaN  2003        NaN      NaN        NaN
26315    NaN  2004        NaN      NaN        NaN
26316    NaN  2005        NaN      NaN        NaN
26317    NaN  2006        NaN      NaN        NaN
26318    NaN  2007        NaN      NaN        NaN
26319    NaN  2008        NaN      NaN        NaN
26320    NaN  2009        NaN      NaN        NaN
26321    NaN  2010        NaN      NaN        NaN
26322    NaN  2011        NaN      NaN        NaN
26323    NaN  2012        NaN      NaN        NaN
26324    NaN  2013        NaN      NaN        NaN
26325    NaN  2014        NaN      NaN        NaN
26326    NaN  2015        NaN      NaN        NaN
26327    NaN  2016        NaN      NaN        NaN
26328    NaN  2017        NaN      NaN        NaN
26329    NaN  2018        NaN      NaN        NaN
26330    NaN  2019        NaN      NaN        NaN
26331    NaN  2020        NaN      NaN        NaN

In [15]:
elec_data.to_csv('/Users/matthewrisley/Desktop/Senior Thesis /Cleaning Dataframes/testingVdemControls.csv', index=False)